<h1><%= @receiver %></h1>

<% @messages.each do |message| %>
  <% if message.sender == current_user %>
    <div class="message-box right-message-box">
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="message-box">
      <p><%= message.content %></p>
    </div>
  <% end %>
<% end %>

<%= render 'form', message: @message %>

<%= link_to 'Back', conversation_messages_path(@conversation) %>
