<p id="notice"><%= notice %></p>

<% @profiles.each do |profile| %>
  <%= link_to(profile) do %>
    <div>
      <%= profile.user.first_name %>
      <%= profile.user.last_name %>
      <%= profile.profile_image_data %>
      <%= profile.bio %>
      <%= profile.locations %>
      <%= profile.price %>
    </div>
  <% end %>
<% end %>

<br>
