<p id="notice"><%= notice %></p>

<p>
  <%= @profile.user.first_name %>
  <%= @profile.user.last_name %>
</p>

<% if @profile.profile_image %>
  <%= image_tag @profile.profile_image_url(:original) %>
<% end %>

<p>
  <%= @profile.price %>
</p>

<p>
  <%= @profile.locations %>
</p>

<p>
  <%= @profile.board_sport %>
</p>

<strong>Description</strong>
<p>
  <%= @profile.description %>
</p>

