<p id="notice"><%= notice %></p>

<% if @profile.profile_image %>
  <%= image_tag @profile.profile_image_url(:original) %>
<% end %>

<div class="center flex">
  <h1 class="inline">
    <%= @profile.user.first_name %>
    <%= @profile.user.last_name %> - 
    <%= @profile.board_sport.capitalize %>
  </h1>

  <h3 class="inline">
    Rating: <%= @average_rating.round %>/5
  </h3>
</div>

<h2 class="center">
  $<%= @profile.price %>/hr
</h2>

<p class="center">
  <%= @profile.locations %>
</p>

<p class="center flex">
  <% @profiles.each do |profile| %>
    <%= link_to profile.board_sport, profile %>
  <% end %>
</p>

<h2>Description</h2>
<p>
  <%= @profile.description %>
</p>

<h2>Reviews</h2>
<% unless @profile.user == current_user %>
  <h3>
    <%= @last_review.user.first_name %>
  </h3>

  <p>
    <%= @last_review.content %>
  </p>

  <div>
    <%= link_to "See all reviews", profile_reviews_url(@profile) %> | 
    <%= link_to "Review", new_profile_review_url(@profile) %>
  </div>

  <br>
  <br>


  <%= link_to "Book", new_profile_booking_url(@profile)  %>

  <% if @conversation.kind_of?(Array) %>
    <%= link_to "Message", conversation_messages_url(@conversation) %>
  <% else %>
    <%= form_with(model: @conversation, local: true) do |form| %>

      <%= form.hidden_field :user2_id, :value => @profile.user.id %>

      <div class="actions">
        <%= form.submit "Message" %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= link_to edit_profile_path(@profile) do %>
    <img src="<%= image_path("edit.png") %>" alt="edit" width="75" height="75">
  <% end %>
<% end %>