<p id="notice"><%= notice %></p>

<% if @profile.profile_image %>
  <%= image_tag @profile.profile_image_url(:original) %>
<% end %>

<h1>
  <%= @profile.user.first_name %>
  <%= @profile.user.last_name %>
</h1>

<p>
  <%= @average_rating.round %>
</p>

<p>
  $<%= @profile.price %>
</p>

<p>
  <%= @profile.locations %>
</p>

<p>
  <%= @profile.board_sport %>
</p>

<strong>Description</strong>
<p>
  <%= @profile.description %>
</p>

<h3>
  <%= @last_review.user.first_name %>
</h3>

<p>
  <%= @last_review.content %>
</p>

<%= link_to "Book", new_profile_booking_url(@profile)  %>

<% if @conversation.kind_of?(Array) %>
  <%= link_to "Message", conversation_messages_url(@conversation) %>
<% else %>
  <%= form_with(model: @conversation, local: true) do |form| %>

    <%= form.hidden_field :user2_id, :value => @profile.user.id %>

    <div class="actions">
      <%= form.submit "Message" %>
    </div>
  <% end %>
<% end %>