<p id="notice"><%= notice %></p>

<% @conversations.each do |conversation| %>
  <% unless Message.where("conversation_id = #{conversation.id}").length == 0 %>
    <p><%= conversation.user2.first_name %></p>
    <%= link_to conversation_messages_path(conversation) do %>
      <%= Message.where("conversation_id = #{conversation.id}").last.content %></p>
    <% end %>
    <%= Message.where("conversation_id = #{conversation.id}").last.created_at.hour %>:<%= Message.where("conversation_id = #{conversation.id}").last.created_at.min %>
  <% end %>
<% end %>

