<p id="notice"><%= notice %></p>

<% @conversations.each do |conversation| %>
  <% unless Message.where("conversation_id = #{conversation.id}").length == 0 %>
    <%= link_to new_conversation_message_path(conversation) do %>
      <p><%= conversation.user2.first_name %></p>
      <%= Message.where("conversation_id = #{conversation.id}").last.content %></p>
      <%= Message.where("conversation_id = #{conversation.id}").last.created_at.hour %>:<%= Message.where("conversation_id = #{conversation.id}").last.created_at.min %>
    <% end %>
  <% end %>
<% end %>

