<p id="notice"><%= notice %></p>

<h1>Reviews for <%= @reviews.first.profile.user.first_name %> <%= @reviews.first.profile.user.last_name %> - <%= @reviews.first.profile.board_sport %></h1>

<% @reviews.each do |review| %>
  <div>
    <h2><%= review.user.first_name %></h2>
    <%= review.content %>
    <%= review.rating %>
    <%= link_to 'Edit', edit_profile_review_path(@profile, review) %>
    <%= link_to 'Destroy', profile_review_url(@profile, review), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br>

<%= link_to 'New Review', new_profile_review_path(@profile) %>
