<!DOCTYPE html>
<html>
  <head>
    <title>BoardTutors</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <div class="navbar">
      <a href="/">
        <img src="<%= image_path("54481.svg") %>" alt="search" width="70" height="70">
      </a>
      <a href="/contacts">
        <img src="<%= image_path("users.svg") %>" alt="contacts" width="70" height="70">
      </a>
      <a href="/conversations">
        <img src="<%= image_path("message.webp") %>" alt="message" width="70" height="70">
      </a>
      <a href="/menu">
        <img src="<%= image_path("preferences.svg") %>" alt="menu" width="70" height="70">
      </a>
    </div>
  </body>
</html>
